*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}

.navicon{
    height: 50px;
    width: 110px;
}

.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    background-size: cover;
    width: 113px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border:2px solid green;
}